<p>yp</p>

<p>Salary : <%= @lineup[:projection] %></p>

<% @lineup[:player_ids].each do |player| %>
  <% player = PlayerSalaryInformation.find(player) %>

    <p>
      <%= player.id %>
      <%= player.player_name %>
      <%= player.salary %>
    </p>

<% end %>
