<div>
  <h3>Create a new Forum Topic</h3>
</div>
<form>
  <p ng-show="errorMessage" class="text-danger">
    {{errorMessage}}
  </p>

  <div class="form-group">
    <label for="formName">Topic Name</label>
    <input type="text" name="name" id="formName" class="form-control" ng-required ng-model="form.name" />
  </div>
  <div class="form-group">
    <label for="formDescription">Topic Description</label>
    <summernote config="options" id="formDescription" ng-required ng-model="form.description"></summernote>
  </div>

  <button ng-click="formSubmit()">
    Create
  </button>
</form>
