<div class="well" ng-show="player.is_free_agent">
  <p>Adding this player would make your cap:</p>

  <button class="btn btn-success" ng-click="addPlayer()">
    Add Player to Team
  </button>
</div>

<div class="well" ng-show="player.is_on_team">
  <p>Removing this player will make your cap:</p>

  <button class="btn btn-success" ng-click="removePlayer()">
    Remove Player from Team
  </button>
</div>

<div class="well" ng-show="!player.is_on_team && !player.is_free_agent">
  <p>You have no actions to be taken on this player</p>
</div>
