<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've been invited to join a TrueGM League!</h1>
    <p>League Name: <%= @invite.team.league.name %></p>
    <p>Invited by: <%= @invite.sender.name %></p>
    <p>Please visit this <%= link_to "Link", new_user_registration_url(:invite_token => @invite.token) %> to join the league.</p>
  </body>
</html>
