<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've been invited, <%= @user.name %>!</h1>
    <p>League Name: <%= "league name" %></p>
    <p>Invited by: <%= "person" %></p>
    <p>Please visit this <a href="">link<a/> to join the league.</p>
  </body>
</html>
