<p><%= t 'index.message' %></p>
<p> This is where we are going to have general information about the site and updates and how to join and a bunch of other stuff.  Right now it is totally empty though</p>