<%= simple_form_for([@current_league, @current_topic, @forum_post]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :post_body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
