<h2>League Activity</h2>

<div ng-repeat="activity in activities">
<div class="row">
  <div class="col s12 m12">
    <div class="card blue-grey">
      <div class="card-content white-text">
        <span class="card-title">{{activity.header_text}}</span>
        <p>{{activity.item_text}}</p>
        <p>By: {{activity.user_name}}</p>
      </div>
      <div class="card-action">
        <a href="#/league/{{currentLeagueId}}/{{activity.sub_title_url}}/{{activity.sub_title_id}}">
          {{activity.sub_title}}
        </a>
      </div>
    </div>
  </div>
</div>
</div>
