<h2>League Activity</h2>

<div>
  <div class="well" ng-repeat="activity in activities">
    <p>
      {{activity.header_text}}
    </p>
    <p ng-show="activity.subtitle != ''">
      <a href="#/league/{{currentLeagueId}}/{{activity.sub_title_url}}/{{activity.sub_title_id}}">
        {{activity.sub_title}}
      </a>
    </p>
    <p>By: {{activity.user_name}}<p>
    <a href="#/league/{{currentLeagueId}}/{{activity.item_url}}/{{activity.item_id}}">
      <p>{{activity.item_text}}</p>
    </a>
    <p>{{activity.date}}</p>
  </div>
</div>
