<h3><%= @nfl_team.full_name %></h3>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Position</th>
      <th>Player Name</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <% @players_on_team.each do |player| %>
      <tr>
        <td><%= player.position %></td>
        <td><%= link_to player.full_name, league_nfl_player_path(@current_league, player) %></td>
        <td><%= link_to_players_owner_team player  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
