<div ng-controller="TopNavigationCtrl">
  <div class="navmenu navmenu-default navmenu-fixed-left">
    <a class="navmenu-brand" href="#/league/{{ leagueId }}" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
      {{ leagueName }}
    </a>
    <ul ng-show="isLeagueSelected" class="nav navmenu-nav">
      <li>
        <a ng-click="showMyTeam()" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">My Team</a>
      </li>

      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Teams <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-repeat="team in teams">
            <a ng-click="showTeam(team.id)" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
              {{ team.name }}
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a ng-click="showPlayers()" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">Players</a>
      </li>
      <li>
        <a ng-click="showForum()" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">Forums</a>
      </li>
      <li>
        <a ng-click="showSchedule()" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">Schedule</a>
      </li>
      <li>
        <a ng-click="showActivity()" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">Activity</a>
      </li>
    </ul>

    <hr />

    <ul ng-show="isLeagueSelected" class="nav navmenu-nav">
      <li>
        <a href="#/leagues" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
          Show All Leagues
        </a>
      </li>
    </ul>

    <hr />

    <ul class="nav navmenu-nav">
      <li>
        <a data-method="delete" href="/d/users/logout" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
          Logout
        </a>
      </li>
    </ul>

  </div>
</div>

<hr />
