<div ng-controller="TopNavigationCtrl">
  <div class="navmenu navmenu-default navmenu-fixed-left">
      <button type="button" class="btn btn-default btn-lg" ng-click="openAside()">
        <span class="glyphicon glyphicon-align-justify"></span> Menu
      </button>
  </div>
</div>
